</main>
        
        <footer class="main-footer">
            <p>&copy; <%= new Date().getFullYear() %>. Todos os arquivos são processados no servidor e apagados automaticamente após o uso.</p>
            <p>Desenvolvido por Infraestrutura Consórcio Magalu.</p>
        </footer>
    </div> <script src="/js/main.js"></script>
</body>
</html>